<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro 
    name="controller"
    params="controller_config_file
    namespace:=''">

    <xacro:property name="ns" value='${namespace + "/" if namespace else ""}' />
    
    <!-- Gazebo simulation system contorller plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>${controller_config_file}</parameters>
        <ros>
          <namespace>${namespace}</namespace>
          <!-- Controller topic remaps are node_options_args in the controller config
               file: <remapping> here applies to the controller manager only. -->
        </ros>
      </plugin>
    </gazebo>
    
  </xacro:macro>

</robot>