<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro 
    name="system_controller"
    params="use_sim:=false
            namespace:=''">

    <xacro:property name="ns" value='${namespace + "/" if namespace else ""}' />
    
  </xacro:macro>

</robot>